<!doctype html>
<html>

  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Projekt Hurtownie danych</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}"> 

  </head>

  <body>

    <nav class="navbar navbar-expand-lg" style="background-color: #bccfdf;">
        <a class="navbar-brand" >Projekt Hurtownie Danych</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup" >
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="https://github.com/ewabak/Projekt-HD">Repozytorium GitHub</a>
            <a class="nav-item nav-link" href="dokumentacja_file">Dokumentacja</a>
          </div>
        </div>
      </nav>


<div class="col-center">
    <p class="tekst" style="font-size: 16pt;">Wprowadź przedział cenowy, według którego chcesz wyszukać mieszkania na sprzedaż w Krakowie:</p>
<br>
<div class="row">
    <form class="form-inline" action="{{ url_for('getvalue') }}" method="post">
            
        <div class="form-group mx-sm-3 mb-2">

              <label for="od" class="sr-only">Kwota od</label>
              <input type="number" class="form-control" id="od" name="od" placeholder="Od">

        </div>
        
        <div class="form-group mx-sm-3 mb-2">
                
                <label for="do" class="sr-only">Kwota do</label>
                <input type="number" class="form-control" id="do" name="do" placeholder="Do">
        
        </div>

    </div>
    <div class="row"><br></div>

    <div class="row">
            <button type="submit" class="btn btn-primary mb-2" style="background-color: #bccfdf; color: black" name = "submit_button" value="etl">Przeprowadź proces ETL</button>
    </div>
    <br>
    <div class="row">
      <button type="submit" class="btn btn-primary mb-2" style="background-color: #bccfdf; color: black" name = "submit_button" value="extract">Extract</button>
</div>
    </form>
</div>

</div>

  </body>
  
</html>

